<%= @community.abstruct %>
creator: <%= @user.name %>

<% provide(:title, "#{@community.name}") %>
<h1><%= @community.name %></h1>



<div class="row">
    <div class="col-md-8">
      <h3>Question Feed</h3>
      <%= render 'shared/feed' %>
    </div>
</div>